practica2/no guiada(enero+julio)/WindowsFormsApp1/WindowsFormsApp1/Web References/Sensor/Sensor.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns="http://master" xmlns:ns1="http://org.apache.axis2/xsd" targetNamespace="http://master" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
		Please Type your service description here
	</wsdl:documentation>
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://master">
      <xs:element name="isOkey">
        <xs:complexType>
          <xs:sequence />
        </xs:complexType>
      </xs:element>
      <xs:element name="isOkeyResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getActuador">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="i" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getActuadorResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getTemperatura">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="i" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getTemperaturaResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getHumedad">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="i" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getHumedadResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getCliente">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="i" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getClienteResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="LeerDato">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="dato" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="p_indice" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="LeerDatoResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="escribirFichero">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="p_dato" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="p_valor" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="p_indice" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="LeerDatoRequest">
    <wsdl:part name="parameters" element="ns:LeerDato" />
  </wsdl:message>
  <wsdl:message name="LeerDatoResponse">
    <wsdl:part name="parameters" element="ns:LeerDatoResponse" />
  </wsdl:message>
  <wsdl:message name="getHumedadRequest">
    <wsdl:part name="parameters" element="ns:getHumedad" />
  </wsdl:message>
  <wsdl:message name="getHumedadResponse">
    <wsdl:part name="parameters" element="ns:getHumedadResponse" />
  </wsdl:message>
  <wsdl:message name="getTemperaturaRequest">
    <wsdl:part name="parameters" element="ns:getTemperatura" />
  </wsdl:message>
  <wsdl:message name="getTemperaturaResponse">
    <wsdl:part name="parameters" element="ns:getTemperaturaResponse" />
  </wsdl:message>
  <wsdl:message name="getActuadorRequest">
    <wsdl:part name="parameters" element="ns:getActuador" />
  </wsdl:message>
  <wsdl:message name="getActuadorResponse">
    <wsdl:part name="parameters" element="ns:getActuadorResponse" />
  </wsdl:message>
  <wsdl:message name="escribirFicheroRequest">
    <wsdl:part name="parameters" element="ns:escribirFichero" />
  </wsdl:message>
  <wsdl:message name="isOkeyRequest">
    <wsdl:part name="parameters" element="ns:isOkey" />
  </wsdl:message>
  <wsdl:message name="isOkeyResponse">
    <wsdl:part name="parameters" element="ns:isOkeyResponse" />
  </wsdl:message>
  <wsdl:message name="getClienteRequest">
    <wsdl:part name="parameters" element="ns:getCliente" />
  </wsdl:message>
  <wsdl:message name="getClienteResponse">
    <wsdl:part name="parameters" element="ns:getClienteResponse" />
  </wsdl:message>
  <wsdl:portType name="SensorPortType">
    <wsdl:operation name="LeerDato">
      <wsdl:input wsaw:Action="urn:LeerDato" message="ns:LeerDatoRequest" />
      <wsdl:output wsaw:Action="urn:LeerDatoResponse" message="ns:LeerDatoResponse" />
    </wsdl:operation>
    <wsdl:operation name="getHumedad">
      <wsdl:input wsaw:Action="urn:getHumedad" message="ns:getHumedadRequest" />
      <wsdl:output wsaw:Action="urn:getHumedadResponse" message="ns:getHumedadResponse" />
    </wsdl:operation>
    <wsdl:operation name="getTemperatura">
      <wsdl:input wsaw:Action="urn:getTemperatura" message="ns:getTemperaturaRequest" />
      <wsdl:output wsaw:Action="urn:getTemperaturaResponse" message="ns:getTemperaturaResponse" />
    </wsdl:operation>
    <wsdl:operation name="getActuador">
      <wsdl:input wsaw:Action="urn:getActuador" message="ns:getActuadorRequest" />
      <wsdl:output wsaw:Action="urn:getActuadorResponse" message="ns:getActuadorResponse" />
    </wsdl:operation>
    <wsdl:operation name="escribirFichero">
      <wsdl:input wsaw:Action="urn:escribirFichero" message="ns:escribirFicheroRequest" />
    </wsdl:operation>
    <wsdl:operation name="isOkey">
      <wsdl:input wsaw:Action="urn:isOkey" message="ns:isOkeyRequest" />
      <wsdl:output wsaw:Action="urn:isOkeyResponse" message="ns:isOkeyResponse" />
    </wsdl:operation>
    <wsdl:operation name="getCliente">
      <wsdl:input wsaw:Action="urn:getCliente" message="ns:getClienteRequest" />
      <wsdl:output wsaw:Action="urn:getClienteResponse" message="ns:getClienteResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SensorSoap11Binding" type="ns:SensorPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LeerDato">
      <soap:operation soapAction="urn:LeerDato" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHumedad">
      <soap:operation soapAction="urn:getHumedad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTemperatura">
      <soap:operation soapAction="urn:getTemperatura" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getActuador">
      <soap:operation soapAction="urn:getActuador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="escribirFichero">
      <soap:operation soapAction="urn:escribirFichero" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="isOkey">
      <soap:operation soapAction="urn:isOkey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCliente">
      <soap:operation soapAction="urn:getCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SensorSoap12Binding" type="ns:SensorPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LeerDato">
      <soap12:operation soapAction="urn:LeerDato" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHumedad">
      <soap12:operation soapAction="urn:getHumedad" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTemperatura">
      <soap12:operation soapAction="urn:getTemperatura" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getActuador">
      <soap12:operation soapAction="urn:getActuador" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="escribirFichero">
      <soap12:operation soapAction="urn:escribirFichero" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="isOkey">
      <soap12:operation soapAction="urn:isOkey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCliente">
      <soap12:operation soapAction="urn:getCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SensorHttpBinding" type="ns:SensorPortType">
    <http:binding verb="POST" />
    <wsdl:operation name="LeerDato">
      <http:operation location="LeerDato" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHumedad">
      <http:operation location="getHumedad" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTemperatura">
      <http:operation location="getTemperatura" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getActuador">
      <http:operation location="getActuador" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="escribirFichero">
      <http:operation location="escribirFichero" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="isOkey">
      <http:operation location="isOkey" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCliente">
      <http:operation location="getCliente" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Sensor">
    <wsdl:port name="SensorHttpSoap11Endpoint" binding="ns:SensorSoap11Binding">
      <soap:address location="http://192.168.207.3:8080/EjemploMaster/services/Sensor.SensorHttpSoap11Endpoint/" />
    </wsdl:port>
    <wsdl:port name="SensorHttpSoap12Endpoint" binding="ns:SensorSoap12Binding">
      <soap12:address location="http://192.168.207.3:8080/EjemploMaster/services/Sensor.SensorHttpSoap12Endpoint/" />
    </wsdl:port>
    <wsdl:port name="SensorHttpEndpoint" binding="ns:SensorHttpBinding">
      <http:address location="http://192.168.207.3:8080/EjemploMaster/services/Sensor.SensorHttpEndpoint/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>